[Desktop Entry]
Encoding=UTF-8
Name=CentOS で公開鍵認証による SSH ログイン設定を行う | Webセキュリティの小部屋へのリンク
Type=Link
URL=https://www.websec-room.com/2014/01/18/1647
Icon=text-html
